table {
  width: 100%;
  margin: 1em auto;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

th,
td {
  padding: 4px 8px;
}

thead th {
  background: #4f81bd;
  text-transform: lowercase;
  text-align: left;
  font-size: 15px;
  color: #fff;
}

tr {
  border-right: 1px solid #95b3d7;
}

tbody tr {
  border-bottom: 1px solid #95b3d7;
}

tbody tr:nth-child(odd) {
  background: #dbe5f0;
}

tbody th,
tbody tr:nth-child(even) td {
  border-right: 1px solid #95b3d7;
}

tfoot th {
  background: #4f81bd;
  text-align: left;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
}

tr *:nth-child(3),
tr *:nth-child(4) {
  text-align: right;
}
